<div>
    <application-base [component]="component" [items]="items" [selectedItem]="selectedItem">
        <ng-template #listTemplate let-items let-selected="selectedItem">
            <div class="d-flex justify-content-center w-100 h-100">
                <div class="row gap-0 w-100 h-100">
                    <!-- <div class="d-flex"> -->
                    <div class="col" *ngFor="let item of items">
                        <app-card [item]="item" (onDoubleClick)="onItemDoubleClick($event)"
                            (onSelected)="onSelectedItemChange($event)">
                            <ng-template #cardTemplate let-item>
                                <h3 class="fs-2">{{item?.name}}</h3>
                                <!-- <h4 *ngIf="accounts?.items?.length">{{'Account number: ' + accounts?.items?.length}}
                                    </h4> -->
                                <ng-container *ngIf="item?.url">
                                    <ng-template #tipContent let-greeting="gretting">
                                        <p>{{item?.url}}</p>
                                    </ng-template>
                                    <span [ngbTooltip]="tipContent" class="link-text">
                                        Go to application
                                        <a [href]="item?.url"><i class="bi bi-arrow-right"></i></a>
                                    </span>
                                </ng-container>
                            </ng-template>
                        </app-card>
                    </div>
                    <div *ngIf="!disableLoadMore()" class="col-sm-1 d-flex justify-content-center align-self-center h-100">
                        <button  (click)="loadMore()" style="transform: rotate(-90deg);" class="btn btn-outline-secondary">
                            <i class="bi bi-arrow-clockwise pe-2 icon-size-20"></i><b class="fs-5">Load</b>
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #detailTemplate let-selected>
            <div class="d-flex flex-column justify-content-between w-100 h-100">
                <div class="col-md-6">
                    <form action="" class="form p-3" autocomplete="off">
                        <div class="d-flex justify-content-between flex-column gap-3 mt-3"
                            *ngIf="component.mode!=formMode.Add">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">Application</span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="selected.name" name="appname"
                                    [value]="selected?.name" [required]="true"
                                    [disabled]="component.mode==formMode.Detail">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">ApplicationId</span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="selected.id" name="appid"
                                    [value]="selected.id" [required]="true" [disabled]="true">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">URL</span>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="selected.url" name="appurl"
                                    [value]="selected?.url" [required]="true"
                                    [disabled]="component.mode==formMode.Detail">
                            </div>
                        </div>
                        <div class="d-flex justify-content-between flex-column gap-3 mt-3"
                            *ngIf="component.mode==formMode.Add">
                            <form [formGroup]="formAdd" autocomplete="off">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">Application</span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="name"
                                        [ngClass]="{'invalid' : getControls('name')?.invalid && getControls('name')?.dirty}"
                                        name="name">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">URL</span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="url" name="url"
                                        [ngClass]="{'invalid' : getControls('url')?.invalid && getControls('url')?.dirty}">
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
                <div *ngIf="component.mode==formMode.Detail" class="col-md-12 w-100">
                    <account-view [app]="component.selectedItem.id" #accounts [items]="selected?.accounts">
                    </account-view>
                </div>
            </div>
        </ng-template>
    </application-base>
</div>