.box {
  width: 55px;
  height: 58px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  cursor: pointer;
  margin: 0.6em;
  transition: all .4s;
}
.box-invalid {
  width: 55px;
  height: 58px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  cursor: pointer;
  margin: 0.6em;
  transition: all .4s;
}

.box:hover {
  width: 15vw;
  /* background: #c9c9c9;   */
  border-radius: 10px;
  color: black;
  box-shadow: 0 0 50px #c9c9c9;

  background-color: #d5fefd;
  background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
}
.box-invalid:hover {
  width: 15vw;
  /* background: #c9c9c9;   */
  border-radius: 10px;
  color: black;
  box-shadow: 0 0 50px #c9c9c9;

  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #ff7878 74%);
}

/* .box:nth-child(2):hover{  
    background: #1877f2;  
    box-shadow: 0 0 50px #1876f285;  
  }  
  .box:nth-child(3):hover{  
    width: 130px;  
    background: #1da1f2;  
    box-shadow: 0 0 50px #1da0f280;  
  }  
  .box:nth-child(4):hover{  
    background: #25d366;  
    box-shadow: 0 0 50px #25d3657e;  
  }   */
.box p {
  transform: translate(50px);
}
.box-invalid p {
  transform: translate(50px);
}

.hide {
  display: none;
}

.box:hover .hide {
  display: flex;
}
.box-invalid:hover .hide {
  display: flex;
}

.box .icon {
  /* position: absolute;   */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-right: 10px;
  transition: all .6s;
}
.box-invalid .icon {
  /* position: absolute;   */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-right: 10px;
  transition: all .6s;
}

/* .save{  
    background: #585858;  
  }   */
.facebook {
  background: #1877f2;
}

.twitter {
  background: #1da1f2;
}

.whatsapp {
  background: #25d366;
}

/* .box:hover .icon{  
    background: #dfdfdf;  
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);  
    color: rgb(59, 59, 59);  
  }   */

.icon-style {
  /* width: 50px;  
    height: 50px;   */
  display: flex;
  justify-content: center;
  align-items: end;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-right: 10px;
  transition: all .6s;
}

.invalid {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #ff7878 74%);


}

.icon-style:hover {
  /* background: #dfdfdf;   */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
  border-radius: 2em;
  background-color: #d5fefd;
  background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
  color: #3b3b3b;
  cursor: pointer;
}

.search-icon {
  font-size: 20px;
}

.search-icon :hover {
  font-size: 30px;
  transition: 500ms;
}