<div class="d-flex flex-row justify-content-start  gap-3 border-bottom">
    <div class="container d-flex flex-row col-md-8 p-0 m-0">
        <ng-container *ngIf="mode==0 || mode==1">
            <div *ngIf="goBackBtn" (click)="onGoToAppsMenu()" class="box d-flex position-relative">
                <div class="icon save">
                    <i class="bi bi-grid-3x3-gap icon-size"></i>
                </div>
                <p class="position-absolute top-50 start-50 translate-middle-y fs-5 hide">{{'Apps' | uppercase}}</p>
            </div>
            <div *ngIf="showManageUsers" (click)="manageUsers()" class="box d-flex position-relative">
                <div class="icon save">
                    <i class="bi bi-people icon-size"></i>
                </div>
                <p class="position-absolute top-50 start-50 translate-middle-y fs-5 hide">{{'Manage users' | uppercase}}</p>
            </div>
            <div *ngIf="mode==1" (click)="onModeChange(formMode.Thumbnail)" class="box d-flex position-relative">
                <div class="icon save">
                    <i class="bi bi-grid icon-size"></i>
                </div>
                <p class="position-absolute top-50 start-50 translate-middle-y fs-5 hide">{{'Grid' | uppercase}}</p>
            </div>
            <div *ngIf="mode==0" (click)="onModeChange(formMode.Detail)"
                [ngClass]="{'box': canDetail, 'box-invalid': !canDetail}" class="d-flex position-relative">
                <div class="icon save">
                    <i class="bi bi-list-columns icon-size"></i>
                </div>
                <p class="position-absolute top-50 start-50 translate-middle-y fs-5 hide">{{'Detail' | uppercase}}</p>
            </div>
            <div (click)="onReload()" class="box d-flex position-relative">
                <div class="icon save">
                    <i class="bi bi-arrow-clockwise icon-size"></i>
                </div>
                <p class="position-absolute top-50 start-50 translate-middle-y fs-5 hide">{{'Reload' | uppercase}}</p>
            </div>
            <div class="box d-flex position-relative" [ngClass]="{'box': canAdd, 'box-invalid': !canAdd}"
                (click)="onModeChange(formMode.Add)">
                <div class="icon save">
                    <i class="bi bi-plus-lg icon-size"></i>
                </div>
                <p class="position-absolute top-50 start-50 translate-middle-y fs-5 hide">{{'Add' | uppercase}}</p>
            </div>
            <div class="box d-flex position-relative" [ngClass]="{'box': canEdit, 'box-invalid': !canEdit}"
                (click)="onModeChange(formMode.Edit)">
                <div class="icon save">
                    <i class="bi bi-pencil icon-size"></i>
                </div>
                <p class="position-absolute top-50 start-50 translate-middle-y fs-5 hide">{{'Edit' | uppercase}}</p>
            </div>
            <div class="box d-flex position-relative" [ngClass]="{'box': canDelete, 'box-invalid': !canDelete}"
                (click)="onDelete()">
                <div class="icon save">
                    <i class="bi bi-trash icon-size"></i>
                </div>
                <p class="position-absolute top-50 start-50 translate-middle-y fs-5 hide">{{'Delete' | uppercase}}</p>
            </div>
            <div>

            </div>
        </ng-container>
        <ng-container *ngIf="mode==2 || mode==3">
            <div [ngClass]="{'box': canSave, 'box-invalid': !canSave}" class="d-flex position-relative"
                (click)="onSave()">
                <div class="icon save">
                    <i class="bi bi-folder-plus icon-size"></i>
                </div>
                <p class="position-absolute top-50 start-50 translate-middle-y fs-5 hide">{{'Save' | uppercase}}</p>
            </div>
            <div class="box d-flex position-relative" (click)="onModeChange(formMode.Thumbnail)">
                <div class="icon save">
                    <i class="bi bi-x-lg icon-size"></i>
                </div>
                <p class="position-absolute top-50 start-50 translate-middle-y fs-5 hide">{{'Cancel' | uppercase}}</p>
            </div>
        </ng-container>
    </div>
    <div *ngIf="mode==0" class="col-md-4 d-flex justify-content-end">
        <form class="form pe-3 d-flex" autocomplete="off">
            <div class="d-flex justify-content-center flex-column">
                <div class="input-group">
                    <div class="justify-content-center d-flex flex-column pe-2">
                        <div #collapse="ngbCollapse" animation="true" [(ngbCollapse)]="isSearchCollapsed">
                            <input [placeholder]="'Search'" type="text" class="form-control align-self-center p-1 me-1"
                                [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange()"
                                (ngModelChange)="onSearch()" name="searchTerm">
                        </div>
                    </div>
                    <div class="input-group-append icon-style" (click)="collapse.toggle()">
                        <i ngbTooltip="Search" placement="bottom" *ngIf="searchTerm==null"
                            class="bi bi-search icon-size p-1"></i>
                    </div>
                    <div class="input-group-append icon-style" (click)="clearSearch()">
                        <i *ngIf="searchTerm!=null" class="bi bi-x-circle icon-size p-1"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>