<div class="p-2 border-bottom">
    <div class="d-flex flex-row justify-content-between">
        <div class="align-self-center position-relative">
            <i style="font-size: 35px;" class="top-50 start-50 bi bi-lock pe-3 align-self-end"></i>
        </div>
        <div class="w-50 position-relative">
            <p class="fs-2 text-muted position-absolute top-50 start-0 translate-middle-y"><b>PasswordKEEP</b></p>
        </div>
        <div class="w-50 d-flex justify-content-end">
            <div class="dropdown">
                <button (click)="showDropdown()" class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" id="dropdownMenu" aria-expanded="false">
                    <span>
                        <i class="bi bi-person-circle p-2 icon-size"></i><b>{{userName}}</b>
                    </span>
                </button>
                <ul class="dropdown-menu" role="menu" [ngClass]="{'show': toggleFlag}" aria-labelledby="dropdownMenu">
                    <li>
                        <button class="btn btn-light w-100">
                            <i class="bi bi-gear pe-3 icon-size-20"></i><b>Settings</b>
                        </button>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <button (click)="logout()" class="btn btn-light w-100">
                            <i class="bi bi-box-arrow-right pe-3 icon-size-20">
                            </i><b>Logout</b>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
