<div class="p-2 border-bottom">
    <div class="d-flex flex-row justify-content-between">
        <div class="align-self-center position-relative">
            <i style="font-size: 35px;" class="top-50 start-50 bi bi-lock pe-3 align-self-end"></i>
        </div>
        <div class="w-50 position-relative">
            <p class="fs-2 text-muted position-absolute top-50 start-0 translate-middle-y"><b>PasswordKEEP</b></p>
        </div>
        <!-- <div class="w-50">
            <span><i class="bi bi-person-circle p-2 icon-size"></i><b>{{userName}}</b></span>
        </div> -->
        <div class="w-50">
            <!-- <div class="d-flex flex-row justify-content-end align-self-center">
                <button (click)="logout()" class="btn btn-light">
                    <span>
                        <i class="bi bi-box-arrow-right p-2 icon-size-20">
                        </i><b>Logout</b>
                    </span>
                </button>
            </div> -->
            <div class="dropdown d-flex flex-row justify-content-end">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    id="dropdownMenu" aria-haspopup="tree" aria-expanded="false">
                    <span>
                        <i class="bi bi-person-circle p-2 icon-size"></i><b>{{userName}}</b>
                    </span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <li>
                        <button (click)="logout()" class="btn btn-light">
                            <span>
                                <i class="bi bi-box-arrow-right p-2 icon-size-20">
                                </i><b>Logout</b>
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>